
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/font.css');





body{
 font-family: 'Proxima-Nova-Semibold',sans-serif ;
}

/* .bg-dark-blue {
  background-color: #1a202c;
} */

/* .bg-light-blue {
  background-color: #3b82f6; 
} */


@media (max-width: 668px) {
  .overlay {
    background-color: black !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: -1 !important;
  }
}


@media (min-width:300px) and (max-width:480px)
{
  .hero_section
  {
    height:100vh;
    background-size:750% 250%;
background-position:center;

  }
}

@media (min-width:300px) and (max-width:480px)
{
  .hero_content
  {
   padding-top:40% !important;

  }
}



@media (min-width:1280px)
{

.hero_section
{
  background-size: 230% 270%; /* Adjust size as needed */
  background-position:35% center; /* Move 10% from the left edge, center vertically */
  background-repeat: repeat; /* Repeat the background if necessary */
}



}


@media (min-width:1440px)
{

.hero_section
{
  background-size: 230% 250%; /* Adjust size as needed */
  background-position:35% center; /* Move 10% from the left edge, center vertically */
  background-repeat: repeat; /* Repeat the background if necessary */

}

}


@media (min-width:1366px)
{

.hero_section
{
  background-size: 230% 270%; /* Adjust size as needed */
  background-position:35% center; /* Move 10% from the left edge, center vertically */
  background-repeat: repeat; /* Repeat the background if necessary */

}

}

@media (min-width:1512px)
{

.hero_section
{
  background-size: 230% 250%; /* Adjust size as needed */
  background-position:34% center; /* Move 10% from the left edge, center vertically */
  background-repeat: repeat; /* Repeat the background if necessary */



}

}


@media (min-width:1792px)
{

.hero_section
{
  background-size: 230% 270%; /* Adjust size as needed */
  background-position:35% center; /* Move 10% from the left edge, center vertically */
  background-repeat: repeat; /* Repeat the background if necessary */
}

}




