
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/font.css');






/* .bg-dark-blue {
  background-color: #1a202c;
} */

/* .bg-light-blue {
  background-color: #3b82f6; 
} */



@media (max-width: 668px) {
  .overlay {
    background-color: black !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: -1 !important;
  }
}



@media (min-width:300px) and (max-width:572px)
{

  

  .hero_section
  {
height:100vh;
  }

  .hero_content
  {
   padding-top:40% !important;

  }

  .happy_story h1 
  {
    font-size:28px !important;
  }

  .happy_story p 
  {
    font-size:16px;
    line-height: 24px;
  }



  .body_question
  {
    height:50% !important;
  }

  .hero_content>h1 
  {
    font-size:64px;
    line-height:77px !important;

    
  }

  .hero_content>p 
  {
    font-size: 32px;
    line-height: 48px;
    letter-spacing:2%;
    font-weight: 400 !important;
    padding-top:16px;
  }

  .hero_content
  {
    text-align: left;
    padding:0 16px 0 16px;
    gap:16px !important;
    display:grid;
    place-content:center;
    margin-top:2rem;
  }

  .link
  {
    margin-top:5rem !important;
  }

  .matchmaking>h1
  {
    font-size:28px;
  }

  .matchmaking>p 
  {
    font-size:16px !important;
    line-height:24px !important;
  }

.get_app>h1
{
  font-size:28px;
}

.get_app>p 
{
  font-size:16px;
}

.top_rating
{
  position: relative;
  right:0px !important;
}

.achieve>h1 
{
  font-size:24px;
}


.youtube>h1
{
  font-size:28px !important;
  line-height:42px !important;

}

.youtube>p 
{
  font-size:16px;
  line-height: 24px;

}

.matrimony>h1
{
  font-size:28px !important;
  line-height:42px !important;
}

.matrimony>p
{
  font-size:16px !important;
  line-height: 24px !important;

}

.connect_match>h1 
{
  font-size:24px ;
  line-height:42px !important;

}


.connect_match>p 
{
  font-size:16px !important;
  line-height: 24px !important;
}

.ai_driven>h1
{
  font-size:24px ;
  line-height:42px !important;
}

.browse>h1
{
  font-size:24px ;
  line-height:42px !important;
}

.browse>p 
{
  font-size:16px !important;
  line-height: 24px !important;
}

}

@media (min-width:0px) and (max-width:572px)
{
  .card_container
  {
   color:blue;
   display:flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;

  }

.faqs_card
{
  width:24.5rem !important;
}


.question_faqs
{
  width:24.5rem !important;
  display:flex;
  justify-content:center;
  align-items:center;

}

.mission_title
{
  display:flex;
  flex-direction: column !important;
  width:95%;

}

.mission_title>p 
{
  width:100%;
  padding-top:2rem;
  padding-left:0 !important;
}

.mission_img
{
  width:100% !important;
  padding:0rem !important;
}

.mission_title>h1 
{
  font-size:32px;
  line-height:48px;
  font-weight: 700;
  padding-right:2rem;
}

.mission_title>p 
{
  font-size:18px;
  line-height: 26px;
  font-weight: 400;
}

.img
{
  width:100% !important;
  padding:0 !important;
  margin:0rem !important;
}

.relationship
{
  width:100% !important;
  padding-left: 0px !important;
  padding-right:0px !important;
 

  
}

.div
{
  text-align: left;
}

.card_mission
{
  width:100% !important;
}

.card_mission>div 
{
  height:15rem;
}

.relationship
{
  width:100%;
}

.relationship_card
{
  width:flex;
  flex-direction: column;
  width:100% !important;
}

.relationship_box
{
  padding:4rem 1rem 4rem 1rem;
}

.value_box
{
  padding:4rem 1rem 4rem 1rem ;
}

.diffrence_box
{
padding:0rem;
}

.diffrence_title
{
  padding:0rem 1rem 0rem 1rem;
}

.advice_heading>h1 
{
  font-size:32px;
  line-height:48px;
  font-weight: 700;
}

.advice_heading>p 
{
  font-size:18px;
  line-height:26px;
  font-weight:400;
}

.r_div
{
  height:15rem !important;
}

.at>h1 
{
  font-size:32px;
  line-height:48px;
  font-weight: 700;
}

.at>p 
{
  font-size:18px;
  line-height:26px;
  font-weight:400;
}


.man_cardBox
{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.man_card2
{
  margin-top:5rem !important;
}

.attraction_box
{
  display:flex;
  flex-direction:column;
}

.att_title
{
  width:100% !important;
  padding:0rem;
  margin:0rem !important;
}

.att_container
{
  padding:5rem 1rem 5rem 1rem !important;
}


.at_card
{
  display:flex;
  flex-direction:column;
  padding:0rem !important;
  margin-top:3rem;
}


.att_title>h1 
{
  font-size:32px;
  line-height:48px;
  font-weight: 700;
}

.att_title>p 
{
  font-size:18px;
  line-height:26px;
  font-weight:400;
}


.faq>h1 
{
font-size:28px !important;
line-height:39.5px;
font-weight: 700;

}

.faq>p 
{
  font-size:18px ;
  line-height:26px;
  font-weight:400;
}

}







